__pycache__/
*.pyc
direct_tensor_midpoint_c
direct_tensor_midpoint_orthant_c
direct_tensor_midpoint_orthant_omp
direct_tensor_midpoint_orthant_q4_avx2
direct_tensor_midpoint_orthant_q4_tile_avx2
direct_tensor_midpoint_orthant_q56_omp
direct_tensor_midpoint_orthant_mixed_omp
direct_tensor_midpoint_orthant_mixed_tile_avx2
direct_tensor_midpoint_orthant_mixed_tile_batch_avx2
direct_tensor_midpoint_orthant_mixed_q26_tile_batch_avx2
direct_tensor_midpoint_ablation_kernel
